.icon__raiting {
  width: 160px;
    height: 80px;
}

 .icon__footer-age {
   width: 44px;
    height: 44px;
    margin: 10px auto;

   @media screen and(min-width:1200px) {
         width: 40px;
    height: 40px;
    margin-right: auto;
    padding: 0px;
   }
  }
